body {
  text-align: center;
  font-family: "Comic Sans MS"; sans-serif;
}

.gameboard {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 60vh;
  border: 3px solid black;
  margin: auto;
}

.row {
  display: flex;
  flex-basis: 50%;
}

.cell {
  flex: 1;
  border: 1px solid black;
}

button {
  padding: 35px 50px;
  font-size: 2.5em;
  border-radius: 50%;
  background-color: transparent;
  font-family: "Comic Sans MS"; sans-serif;
  font-size: 30px;
}

.buttonsset1 {
  display: flex;
  border-radius: 50%;
  margin: auto;
  justify-content: center;
  padding: 15px 29px;
  width: 100%;
  height: 100%;
}

.buttonsset2 {
  display: flex;
  border-radius: 50%;
  margin: auto;
  gap: 10px;
  justify-content: center;
  padding: 15px 29px;
  width: 25vw;
  height: 20vh;
}
