h1 {
  text-align: center;
  font-style: Virgil;



}

.gameboard {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 65vh;
  border: 3px solid black;
  margin: auto;
}

.row {
  display: flex;
  flex-basis: 50%;
}

.cell {
  flex: 1;
  border: 1px solid black;
}

button {
  padding: 35px 50px;
  font-size: 2.5em;
  border-radius: 50%;
}

.buttonsset1 {
  display: flex;
  border-radius: 50%;
  margin: auto;
  justify-content: center;
  padding: 15px 29px;
  width: 100%;
  height: 100%;
}

.buttonsset2 {
  display: flex;
  border-radius: 50%;
  margin: auto;
  justify-content: center;
  padding: 15px 29px;
  width: 100%;
  height: 100%;
}
